<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The rollBak</title>
        <link rel='stylesheet' href='stylesheets/style.css' />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.14/dist/semantic.css">
    </head>
    <body>
      <div class="fifty">
          <div class="ui blue three item inverted menu">
              <a class="item" href="/"><%= first %></a>
              <a class="item" href="/episodes"><%= second %></a>
              <a class="item" href="/about"><%= third %></a>
          </div>
      </div>