<% include ./partials/header %>
<div class="intro">
    <h1><%= third %></h1>
    <img src="images/logo.jpg" alt="broken screen" class="logo">
    <br>
    <h2 class="">About the Hosts</h2>
</div>
<div class="content">
    <p>
        ><span class="blink_me">_</span>
        <br>
        <br>
    </p>
    <div class="ui segment raised">
        <h3>Mike</h3>
        <p>
            Mike is a Windows Systems Administrator, Engineer, Technical Lead, and PowerShell scripter/toolmaker. He spends a majority of his day-to-day
            administering infrastructure, automating processes, engineering solutions, and ensuring productivity for his environment. When it comes to
            PowerShell automation, Mike is a firm believer that anything can be automated. Whether it be creating a piece of infrastructure, automating
            helpdesk tasks, or pulling any type of information necessary. With his vast work experience in different industries such as MSPs, healthcare,
            tech start-ups, and non-profits, he is equipped to handle any type of situation and ensure the job is done right. Mike started out his love for
            technology from gaming. After playing PC games and wanting to improve graphics, one thing lead to another and he found himself working in tech.
            For Mike, technology isn't just some job. It's a passion and a hobby. Mike is Microsoft certified, VMWare AirWatch certified, and Cisco Meraki
            certified. He hopes to bring knowledge and a solid learning experience for all listeners. Mike is also a Co-Founder of rollBak. He can be reached 
            <a href="mailto:mlevan@therollbaknet.onmicrosoft.com">at this address</a> for any questions.
        </p>
        <a href="https://github.com/WindowsAdmin92"><i class="icon-color github icon big"></i></a>
    </div>

    <div class="ui segment raised">
        <h3>Phil</h3>
        <p>
            It all began four years ago in 2014 after flunking out of a college nursing program and much encouragement from "The Misc", Phil started his
            career in technology with a little company named EMC in their NOC/SOC. A believer of practice makes perfect and combined with an itch to
            tinker with technology, has led him to rebuild his lab environment multiple times in a never ending quest to make gains in technical knowledge
            and skills. Fast forward to now; he is working as a systems engineer in a cloud environment, learning new ways to monitor system and application
            health and automating day-to-day operations. He is your typical network engineer who got lost up in the clouds and won't come back down. He can be
            reached <a href="mailto:pafable@therollbaknet.onmicrosoft.com">at this address</a> for any questions.
        </p>
    </div>

    <div class="ui segment raised">
        <h3>Chris</h3>
        <p>
            Linux enthusiast, open source advocate, and DevOps practitioner, Chris has dreams of being a role model in the community.
            What started as a hobby soon bled into passion. All things considered, there have been many accomplishments, but the road is still long.
            In an attempt to break into the Devops culture, Chris has begin his transition from I.T. support and administration to
            systems engineering and software development. There is still much to learn, but with knowledge in front end web design and development, NodeJS, PHP,
            and their modern frameworks, the light at the end of the tunnel shines brighter every day. Chris hopes to give back to the open source community,
            as they have given him so much. Chris has helped with the founding of rollBak. He can be reached at <a href="mailto:chris@admindev.tech">this address</a> for
            any questions.
        </p>
        <a href="https://github.com/sysopsdev"><i class="icon-color github icon big"></i></a><a href="https://gitlab.com/sysopsdev"><i class="icon-color gitlab icon big"></i></a><a href="https://admindev.tech"><i class="icon-color write square icon big"></i></a>
    </div>
    <br>
    <br>
</div>
<% include ./partials/footer %>
