<% include ./partials/header %>
<div class="intro">
    <h1><%= second %></h1>
    <p>Welcome to the <%= first %></p>
    <img src="images/logo.jpg" alt="broken screen" class="logo">
    <br>
    <h2>Latest Episode</h2>

    <p>

        ><span class="blink_me">_</span>
        <br>
        <br>
        You can also find us on iTunes, PocketCast, and Stitcher.
    </p>

<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/6639801/height/90/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/backward/render-playlist/no/custom-color/1249c9/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        <!--var track_url = 'https://soundcloud.com/metalbladerecords/visigoth-warrior-queen\n';-->
        <!--SC.oEmbed(track_url, { auto_play: true }).then(function(oEmbed) {-->
            <!--console.log('oEmbed response: ', oEmbed);-->
        <!--});-->
    <!--</script>-->
<% include ./partials/footer %>
