<% include ./partials/header %>
<div class="intro">
    <h1><%= first %></h1>
    <img src="images/logo.jpg" alt="broken screen" class="logo">
    <br>
    <h2>The Art & Science of Systems Engineering</h2>
</div>
<div class="content">
    <p>
      ><span class="blink_me">_</span>
      <br>
      <br>
      Welcome to the rollBak! A place where we discuss topics in sysops, automation, software engineering, and networking. Kick back and relax while we
      spill out the details of our favorite tools, our workflow, and our process for making computers work for us! 
    </p>
    <p>
        If you have any questions, comments, concerns, or just wish to send some advice our way, send an e-mail over to <a href="mailto:chris@admindev.tech">Chris</a>.
        Don't worry, he'll be sure to share comments with the rest of the gang, and we'll even discuss the e-mail on the show.

        Thanks for listening! We appreciate any feedback you may have.
    </p>
    <div class="newHr"></div>
</div>
<% include ./partials/footer %>