* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 66.66%;}
.col-8 {width: 75%;}
.col-9 {width: 83.33%;}
.col-10 {width: 91.66%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: "Source Sans Pro", sans-serif;
}

.header {
    background-color: blue;
    color: white;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: blue;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
}

.icon-color {
    color: black;
}

.icon-color:hover {
    color: #4183C4;
}

nav {
    text-align: center;
}

li {
    float: left;
    color: white;
}

li a {
    display: block;
    color: navy;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.intro {
    margin: auto;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.content {
    margin: auto;
    width: 50%;
    text-align: justify;
}

.newHr {
    border: .4px solid navy;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}


.fifty {
    margin: auto;
    text-align: center;
    max-width: 750px;
}

.logo {
    width: 320px;
    height: 240px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

hr {
    background-color: blue;
    color: blue;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="content"] {
        width: 97%;
    }
    .logo {
        width: 160px;
        height: 120px;
    }
}

